@import "./config.css";
@import "./tailwind.css";
@import "./markdown.css";

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #10b981;
}

::selection {
  background: #ffffff20 !important;
  /* color: #fff !important; */
}

.mdx-content h1,
.mdx-content h2,
.mdx-content h3,
.mdx-content h4,
.mdx-content h5,
.mdx-content h6 {
  color: #000000;
}

.dark .mdx-content h1,
.dark .mdx-content h2,
.dark .mdx-content h3,
.dark .mdx-content h4,
.dark .mdx-content h5,
.dark .mdx-content h6 {
  color: #ffffff;
}

.mdx-content strong {
  color: #6b7280; /* text-zinc-500 */
}

.dark .mdx-content strong {
  color: #d4d4d8; /* text-zinc-400 */
}
